.footer {
  background-color: var(--background-header-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__flex {
  display: flex;
}



.data__link {
  color: var(--contacts-footer-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
    color: var(--activ);
  }
}



.data__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  padding-top: 20px;
}

.data__street {
  color: var(--lite-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
}

.data__item {
  padding-top: 9px;
}



/* Правая часть футера */



.invite__box {
  width: 206px;
  margin-left: 70px;
  margin-top: 10px;
}

.invite__title {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--lite-color);
}

.invite__iconList {
  display: flex;
  justify-content: space-between;
}

.invite__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--lite-color);
  background-color: var(--bgc-icon-footer);
  max-width: 44px;
  max-height: 44px;
  padding: 12px;
  border: 1px solid var(--bgc-icon-footer);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
    background-color: var(--activ);
  }
}



.invite__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.subscribe__box {
  margin-left: 93px;
  margin-top: 10px;
}

.subscribe__form {
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 358px;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-header-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  &:hover,&:focus {
    border: 1px solid var(--activ);
    outline: none;
  }
}



.subscribe__title {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--lite-color);
}

.subscribe__btn {
  position: relative;
  width: 200px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--lite-color);
  background-color: #2196f3;
  margin-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe__text {
  padding-right: 40px;
}

.subscribe__sendSvg {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}
